*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .cm_main_nav_container{
    position: absolute;
    z-index: 1;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #01BAEF;
    box-shadow: 0px 2px 4px 1px rgb(131, 126, 126);
  }
  .cm_sub_container{
    position: relative;
    padding: 1.cm_2rem;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    width: 80%;
    background-color: #01BAEF;
  }
  .cm_avatar{
    position: absolute;
    margin-top: -2.cm_8rem;
    margin-left: 90%;
    color: #8A2BE2;
    width: 3rem;
    height: 3rem;
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
  }
  .cm_links{
    margin-left:auto;
    margin-right:auto;
    display: flex;
    width:95%;
    justify-content: space-evenly;
  }
  .cm_logo{
    background-image: url('../../assets/dark_logo_transparent_background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    height: 3rem;
    margin-top:-15px;
    width:200px;
    margin-left: -85px;
  }