*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ps_tiles_container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 74%;
  height: fit-content;
  color: black;
}
.ps_tile:nth-child(odd) {
  background-color: #e1c9f8;
}
.ps_tile:nth-child(even) {
  background-color: #48d7fe;
}
.ps_intro_text {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.ps_intro_text.ps_tile {
  height: 40rem;
}
.ps_tile {
  padding: 10px;
  width: 100%;
  height: 16rem;
  border-radius: 10px 10px;
  border: 1px solid white;
}
.ps_greeting {
  margin-top: 5rem;
  margin-left: 0rem;
  width: fit-content;
  color: white;
}
.ps_schedule_wrapper {
  display: grid;
  width: 50%;
  height: 70%;
  border-radius: 10px 10px;
  margin-top: 2rem;
  margin-left: 20px;
  margin-right: auto;
  grid-template-columns: 60% 35%;
  grid-template-rows: repeat(8, auto);
  text-align: left;
  text-indent: 1rem;
}
.ps_grid-item {
  background-color: purple;
  border: 1px solid black;
  padding: 5px;
  color: whitesmoke;
}
.ps_grid-item.ps_toggle {
  background-color: whitesmoke;
  color: black;
}
.ps_date_picker{
  width:85%;
  height: 100%;
}
.ps_calendar_display{
  position: absolute;
  margin-left: 34.5rem;
  margin-top: 4rem;
  width: 30%;
  height: 80%;
  border-radius: 10px 10px;
  background-color: whitesmoke;
  text-align: left;
  text-indent: 1rem;
  border: 1px solid black;
}
.ps_calendar_header{
  flex-direction: row;
  padding-top: 0.25rem;
  justify-content: space-between;
  background-color: #9947EB;
  margin-top: 0rem;
  width: 100%;
  height: 2.3rem;
  border-bottom: 2px solid black;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 1px 4px 1px rgb(131, 126, 126);
}
.ps_timeslot_title{
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  width: 91%
}
.ps_btn_submit{
  width: 4rem;
  height: 1.5rem;
  border-radius: 5px 5px;
}
.ps_btn_submit_container{
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -1.5rem;
  width: 20%;
}
li{
  list-style-type: none;
}
.ps_display_selections{
  margin-top: 1rem;
}
.ps_btn_refresh_container{
  margin-top: -1.55rem;
  float: right;
  width: fit-content;
  width: 4rem;
  margin-right: 4.5rem;
  height: 1.5rem;
}
.ps_btn_refresh{
  width: 2rem;
  height: 1.5rem;
  border-radius: 5px 5px;
  font-size: 12px;
  color: black;
  background-color: none;
}
@media (min-width: 1500px){
  .ps_calendar_display{
    margin-left: 50rem;
    height: 53%;
  }
  .ps_btn_refresh_container{
    margin-right: 6.5rem;
  }

}